
.drum-pad {
    border: .5rem solid black;
    border-radius: 50%;
    transition: all .07s ease;
    padding: 1rem;
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }